* {
  margin-top: 0;
  margin-bottom: 0;
}

.p-component,
.p-inputtext {
  font-family: inherit;
}

.p-inputtext:disabled {
  @apply tw-opacity-100;
}

.p-password > .p-inputtext {
  @apply tw-w-full;
}

.p-menubar {
  @apply tw-flex tw-justify-end;
  background-color: #573070;
  border-radius: 0%;
  width: 100%;
  z-index: 100 !important;
}

.p-menuitem-link {
  color: white;
}

.p-submenu-list .p-menuitem-link {
  color: black !important;
}

.p-submenu-list:hover .p-menuitem-link:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.p-submenu-list {
  border-radius: 5px;
}

.p-menuitem-link:hover,
.p-menuitem-content:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border-radius: 5px;
  color: white;
}

body {
  margin: 0;
  /* letter-spacing: 0.025em; */
  /* font-family: 'IBM Plex Sans', sans-serif; */
}

code {
  font-family: 'IBM Plex Sans', sans-serif;
}

.p-inputtext:disabled,
.pi-input-icon {
  color: black;
}

.iframe-background {
  position: relative;
  width: 100%; /* Set the width to 100% of the viewport width */
  height: 550px; /* Set the desired height */
  overflow: hidden;
}

.iframe-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set the width to 100% of the container */
  height: 100%; /* Set the height to 100% of the container */
  border: none;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.text-overlay h1 {
  font-size: 36px;
  margin: 0;
}

.iframe {
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  position: relative;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.simple-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

.borders {
  position: relative;
  border: 5px solid #f00;
}

.borders:before {
  content: ' ';
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid #ffea00;
}

.p-progress-spinner-circle {
  stroke: #a855f7 !important;
}

.border {
  border: solid;
  border-width: 0.05rem !important;
  border-color: #e5e7eb;
}

.border-bold {
  border: solid;
  border-width: 0.12rem !important;
}

/* .scrollpanel-border {
  border-right: solid;
  border-width: 0.6rem;
  @apply tw-border-primary-100 tw-pr-4;
} */

.prevdoc-button {
  @apply tw-absolute tw-left-1/2 tw-translate-x-[-50%] tw-translate-y-[-1vh] tw-cursor-pointer;
}

.nextdoc-button {
  @apply tw-absolute tw-left-1/2 tw-translate-x-[-50%] tw-translate-y-[90vh] tw-cursor-pointer;
}

@keyframes blink {
  from {
    @apply tw-border-purple-100;
  }
  50% {
    @apply tw-border-purple-300;
  }
  to {
    @apply tw-border-purple-100;
  }
}

.active-step {
  @apply tw-bg-purple-200 tw-border-4 tw-border-solid tw-border-purple-100;
  animation: blink 2s infinite;
}

p {
  @apply tw-leading-6;
}

.icon-container {
  @apply tw-bg-primary-100 tw-w-10 tw-h-10 tw-rounded-md tw-flex tw-items-center tw-justify-center;
}

.p-togglebutton.p-button.p-highlight {
  @apply tw-bg-white tw-text-primary-500
}

.p-button-icon.p-button-icon-left.pi.pi-angle-down {
  @apply tw-text-primary-500
}